<!DOCTYPE html>
<html>
<head>

    <title>PSS - LKE EPSS</title>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <style>

        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        iframe {
            border: none;
            width: 100%;
            height: 100vh;
        }

    </style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-3">

    <a class="navbar-brand fw-bold" href="/dashboard">
        📊 PORTAL 5302
    </a>

    <div class="ms-auto">

        <a class="btn btn-outline-light me-2"
           href="/dashboard">

           Dashboard

        </a>

        <a class="btn btn-outline-light me-2"
           href="/admin">

           Admin

        </a>

        <a class="btn btn-danger"
           href="/logout">

           Logout

        </a>

    </div>

</nav>

<iframe
src="https://www.appsheet.com/start/2b9ff1f3-c145-400c-bc48-1cf8dc2079f6?platform=desktop#appName=LKEPSS5302-502800379-24-05-02&vss=H4sIAAAAAAAAA63Puw7CIBQG4FdpzqQJg2mcGL0MxuiicREHLKeGtIWmgNoQ3l3wEjcXO5HzQ77z4-Eq8bazvKiAHv13WmMPFDyDfd8iA8pgrpXtdM2AMNjy5hWO8kk-HWczV1mZLVzl1CUdBW9lfBkgnMjHtGiA-v9JOnxLAlKgsrKU2CU_adF9W_E6STH45UAg0DjLzzU-PxudEGJW6sIZFIdYeaCqZqWW95YrsdEiril5bTA8AJ0tBQvJAQAA&view=(2024)%20Bukti%20Dukung%20Dukcapil">
</iframe>

</body>
</html>